In [2]:
import findspark

In [3]:
findspark.init('C:/spark')

In [4]:
from pyspark import SparkContext

In [5]:
sc=SparkContext.getOrCreate()

In [6]:
rdd=sc.textFile('C:/spark/bank.csv')

In [7]:
rdd.count()

4120

In [8]:
distinct_gender = rdd.map(    lambda column: column[2]).distinct()

In [9]:
distinct_gender.collect()

['g', ';']

In [10]:
rdd.take(15)

['"age";"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"',
 '30;"blue-collar";"married";"basic.9y";"no";"yes";"no";"cellular";"may";"fri";487;2;999;0;"nonexistent";-1.8;92.893;-46.2;1.313;5099.1;"no"',
 '39;"services";"single";"high.school";"no";"no";"no";"telephone";"may";"fri";346;4;999;0;"nonexistent";1.1;93.994;-36.4;4.855;5191;"no"',
 '25;"services";"married";"high.school";"no";"yes";"no";"telephone";"jun";"wed";227;1;999;0;"nonexistent";1.4;94.465;-41.8;4.962;5228.1;"no"',
 '38;"services";"married";"basic.9y";"no";"unknown";"unknown";"telephone";"jun";"fri";17;3;999;0;"nonexistent";1.4;94.465;-41.8;4.959;5228.1;"no"',
 '47;"admin.";"married";"university.degree";"no";"yes";"no";"cellular";"nov";"mon";58;1;999;0;"nonexistent";-0.1;93.2;-42;4.191;5195.8;"no"',
 '32;"services";"single";"university.degree";"no";"no";"no";"cellular";"sep";"thu";128;3;999;2;"failure";-1.1;94.199;-37.5;0.884;4963.6;"no"',
 '32;"admin.";"single";"university.degree";"no";"yes";"no";"cellular";"sep";"mon";290;4;999;0;"nonexistent";-1.1;94.199;-37.5;0.879;4963.6;"no"',
 '41;"entrepreneur";"married";"university.degree";"unknown";"yes";"no";"cellular";"nov";"mon";44;2;999;0;"nonexistent";-0.1;93.2;-42;4.191;5195.8;"no"',
 '31;"services";"divorced";"professional.course";"no";"no";"no";"cellular";"nov";"tue";68;1;999;1;"failure";-0.1;93.2;-42;4.153;5195.8;"no"',
 '35;"blue-collar";"married";"basic.9y";"unknown";"no";"no";"telephone";"may";"thu";170;1;999;0;"nonexistent";1.1;93.994;-36.4;4.855;5191;"no"',
 '25;"services";"single";"basic.6y";"unknown";"yes";"no";"cellular";"jul";"thu";301;1;999;0;"nonexistent";1.4;93.918;-42.7;4.958;5228.1;"no"',
 '36;"self-employed";"single";"basic.4y";"no";"no";"no";"cellular";"jul";"thu";148;1;999;0;"nonexistent";1.4;93.918;-42.7;4.968;5228.1;"no"',
 '36;"admin.";"married";"high.school";"no";"no";"no";"telephone";"may";"wed";97;2;999;0;"nonexistent";1.1;93.994;-36.4;4.859;5191;"no"',
 '47;"blue-collar";"married";"basic.4y";"no";"yes";"no";"telephone";"jun";"thu";211;2;999;0;"nonexistent";1.4;94.465;-41.8;4.958;5228.1;"no"']

In [11]:
rdd.first()

'"age";"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'

In [25]:
rdd3=rdd.filter(lambda x: "age" in x)
rdd3.count()

325

In [24]:
rdd4=rdd.filter(lambda x: "01" in x )
rdd4.count()

246

In [14]:
rdd1 = sc.parallelize([1, 2, 3,2,1,3,5,6,7,8,9,5,4,5,7])

In [15]:
rdd1.distinct()

PythonRDD[15] at RDD at PythonRDD.scala:48

In [16]:
rdd1.distinct().collect()

[8, 4, 1, 5, 9, 2, 6, 3, 7]

In [ ]:
rdd1 = sc.parallelize([('a', 1), ('b', 4), ('c',10)])
rdd2 = sc.parallelize([('a', 4), ('a', 1), ('b', '6'), ('d', 15)])

In [ ]:
rdd4 = rdd1.join(rdd2)

In [ ]:
rdd4.collect()

In [ ]:
rdd1 = rdd1.repartition(1)
len(rdd1.glom().collect())

In [ ]:
rdd1.map(lambda row: row[1]).reduce(lambda x, y: x + y)

In [ ]:
rdd1.reduceByKey(lambda x, y: x + y).collect()

In [ ]:
rdd1.cartesian(rdd2)

In [ ]:
rdd3=rdd1.cartesian(rdd2)

In [ ]:
rdd3.collect()

In [ ]:
rdd3=rdd1.intersection(rdd2)

In [ ]:
rdd3.collect()

In [ ]:
rdd3=rdd1.union(rdd2)

In [ ]:
rdd3.collect()

In [ ]:
rdd3 = rdd1.flatMap(lambda x: (x, x + 1))

In [ ]:
rdd1 = sc.parallelize([1, 2, 3])

In [ ]:
rdd1.fold(2,lambda x,y: x*y )